.App {
  text-align: center;
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-logo {
  height: 170vmin;
  pointer-events: none;
  margin-top: 0vh;
}

.vrouw {
  position: absolute;
  max-height: 125vh;
  margin-bottom: 85vh;
}
@font-face {
  font-family: "white dream";
  src: url(/white_dream/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

.divje {
  /* background-color: red; */
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 50%;
  margin-bottom: 50vh;
}

a {
  text-decoration: none;
  color: #be9739;
  font-family: "white dream";
  z-index: 1;
  font-size: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
