.App {
  text-align: center;
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 170vmin;
  pointer-events: none;
  margin-top: 0vh;
}

.Rood {
  width: 200px;
  height: 50px;
  position: relative;
  bottom: 10px;
}

.Volgende {
  position: absolute;
  top: -100px;
  margin: 0;
  width: 500px;
  left: -10%;
  text-decoration: none;
  color: #be9739;
  z-index: 2;
  font-family: "white dream";
  font-size: 50px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.vrouw {
  position: absolute;
  max-height: 110vh;
  margin-bottom: 85vh;
}

h1 {
  text-decoration: none;
  color: #be9739;
  font-family: "white dream";
  z-index: 1;
  font-size: 55px;
  text-align: center;
  position: relative;
  width: 150px;
  left: 92%;
  top: 50%;
}

a h1:hover {
  transform: scale(1.1);
}

a p:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "white dream";
  src: url(/white_dream/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

.divje {
  /* background-color: red; */
  text-decoration: none;
  height: 150px;
  /* width: 150px; */
  position: absolute;
  top: 350px;
  left: 34%;
  border-radius: 50%;
  margin-bottom: 50vh;
}

.divje h1 {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quote {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin: 0;
  background-size: cover;
  position: relative;
  top: -10%;
  left: -2%;
}

.img {
  width: 500px;
  height: auto;
  z-index: 0;
}

.image {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 500px;
  max-width: 1000px;
  height: auto;
}
.tekst {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  width: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 60px;
}

.favorites-link {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.favorites-link img {
  width: 120px;
  height: 120px;
}

.favorites-link img:hover {
  transform: rotate(10deg);
}

.quote button {
  background-color: #be9739;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  position: relative;
  left: 0px;
  top: 260px;
  border-radius: 5px;
}

.quote button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.favQuote {
  position: relative;
  z-index: 15;
  top: 0;
  left: 0;
  font-family: "white dream";
  margin-left: 420px;
  margin-top: -13px;
  transition: all 0.3s ease-in-out;
  /* max-height: 75px; */
}

#favImg {
  /* position: relative; */
  width: 150px;
  top: 0;
  border-radius: 15px;
  top: 0;
  left: 0;
  z-index: 11;
  margin-top: 20px;
}

#favTekst {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  font-size: 10px;
  z-index: 12;
  color: white;
  display: block;
  margin: auto auto;
  text-align: center;
  margin-left: 25px;
  margin-top: 40px;
}

.scaleBoth :hover {
  transform: scale(6);
  cursor: pointer;
}

.scaleBoth:hover {
  transform: scale(4);
  cursor: pointer;
  position: relative;
  display: flex;
}
