.App {
  text-align: center;
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 170vmin;
  pointer-events: none;
  margin-top: 0vh;
}

.Rood {
  width: 200px;
  height: 50px;
  position: relative;
  bottom: 10px;
}

.Volgende {
  position: absolute;
  top: -110px;
  margin: 0;
  width: 500px;
  left: -15px;
  text-decoration: none;
  color: #be9739;
  z-index: 2;
  font-family: "white dream";
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.vrouw {
  position: absolute;
  max-height: 110vh;
  margin-bottom: 85vh;
}

h1 {
  text-decoration: none;
  color: #be9739;
  font-family: "white dream";
  z-index: 1;
  font-size: 50px;
  /* position: absolute;
  left: 140px;
  top: 50px; */
}

@font-face {
  font-family: "white dream";
  src: url(/white_dream/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

.divje {
  /* background-color: red; */
  height: 150px;
  /* width: 150px; */
  position: absolute;
  top: 350px;
  left: 34%;
  border-radius: 50%;
  margin-bottom: 50vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quote {
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin: 0;
  background-size: cover;
}

.img {
  width: 500px;
  height: auto;
  z-index: 0;
}

.image {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 500px;
  max-width: 1000px;
  height: auto;
}
.tekst {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 450px;
  padding-left: 20px;
  padding-top: 60px;
}

.favorites-link {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.favorites-link img {
  width: 120px;
  height: 120px;
}

.favorites-link img:hover {
  transform: rotate(10deg);
}
